server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://postgres-notification:5432/notification_db
    username: notification_service
    password: notification123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
