server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://postgres-analysis:5432/analysis_db
    username: analysis_service
    password: analysis123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
