server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-identity:5432/identity_db
    username: identity_service
    password: identity123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
