server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://identity-service:8081
          predicates:
            - Path=/identity/**
        - id: analysis-service
          uri: http://analysis-service:8082
          predicates:
            - Path=/analysis/**
        - id: report-service
          uri: http://report-service:8083
          predicates:
            - Path=/report/**
        - id: sync-service
          uri: http://sync-service:8084
          predicates:
            - Path=/sync/**
        - id: notification-service
          uri: http://notification-service:8085
          predicates:
            - Path=/notification/**
