server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-report:5432/report_db
    username: report_service
    password: report123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
