server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-sync:5432/sync_db
    username: sync_service
    password: sync123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
