server:
  port: 8082

spring:
  application:
    name: sync-service

  datasource:
    url: jdbc:postgresql://postgres-core:5432/samt_core
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  data:
    redis:
      host: redis
      port: 6379
